name: CI

on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25.6'
        cache: false

    - name: Test
      run: |
        set -e

        for dir in src/*; do
          if [ -f "$dir/go.mod" ]; then
            echo "Running tests in $dir"
            (cd "$dir" && go test ./...)
          fi
        done